{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <form method="post">
                    <h2 class="text-center"> Dados Funcionário </h2>
                    <hr />
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" name="nome" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[0] }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Endereço</label>
                        <input type="text" class="form-control" name="endereco" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[1] }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label>Bairro</label>
                        <input type="text" class="form-control" name="bairro" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[2] }}
                            </small>
                        {% endif %}
                      </div>
                      <div class="form-group col-md-4">
                        <label>Cidade</label>
                        <input type="text" class="form-control" name="cidade" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[3] }}
                            </small>
                        {% endif %}
                      </div>
                      <div class="form-group col-md-4">
                        <label>UF</label>
                        <select class="form-control" name="uf">
                          <option value="" selected> Escolha o UF</option>
                          <option value="AC">AC</option>
                          <option value="AL">AL</option>
                          <option value="AM">AM</option>
                          <option value="AP">AP</option>
                          <option value="BA">BA</option>
                          <option value="CE">CE</option>
                          <option value="DF">DF</option>
                          <option value="ES">ES</option>
                          <option value="GO">GO</option>
                          <option value="MA">MA</option>
                          <option value="MG">MG</option>
                          <option value="MS">MS</option>
                          <option value="MT">MT</option>
                          <option value="PA">PA</option>
                          <option value="PB">PB</option>
                          <option value="PE">PE</option>
                          <option value="PI">PI</option>
                          <option value="PR">PR</option>
                          <option value="RJ">RJ</option>
                          <option value="RN">RN</option>
                          <option value="RO">RO</option>
                          <option value="RR">RR</option>
                          <option value="RS">RS</option>
                          <option value="SC">SC</option>
                          <option value="SE">SE</option>
                          <option value="SP">SP</option>
                          <option value="TO">TO</option>  
                        </select>
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[4] }}
                            </small>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        <label>Telefone</label>
                        <input type="tel" class="form-control" name="telefone" placeholder="(88) 88888-8888" maxlength="15" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[5] }}
                            </small>
                        {% endif %}
                      </div>
                      <div class="form-group col-md-4">
                        <label>CEP</label>
                        <input type="text" class="form-control" name="cep" placeholder="88888-888" maxlength="9"/>
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[6] }}
                            </small>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                        <label>Data de Admissão</label>
                        <input type="date" class="form-control" name="data_admissao" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[7] }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <label>Cargo</label>
                      <input type="text" class="form-control" name="cargo" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[8] }}
                            </small>
                        {% endif %}
                    </div>
                    <hr />
                    <div class="form-group">
                      <label>Endereço Eletrônico/E-mail</label>
                      <input type="email" class="form-control" name="email" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[9] }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <label>Senha</label>
                      <input type="password" class="form-control" name="senha" />
                        {% if errors %}
                            <small class="form-text text-danger">
                              {{ errors[10] }}
                            </small>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar Funcionário</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

